<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css">
    <title>Home page></title>
</head>

<body>
    <div class="container">
        <h1>Welcome to TO DO list</h1>
      <p>Create an account to save all your schedules and access them</p>
      <button onclick="redirectTolog()" class="press" style="border-radius: 15px;">Let's Go</button>
    </div>
</body>
  <script>
    function redirectTolog() {
      window.location.replace("login.hbs");
    }

  </script>
</html>